---
- name: install GSSAPI enabled Maria repo
  copy: src={{ item }}
        dest=/etc/yum.repos.d/{{ item }}
  with_items:
    - rharwood-galera-maria.repo

- name: Install packstack repos
  register: packstackrepo
  copy: src=RH7-RHOS-7.0.repo
        dest=/etc/yum.repos.d/RH7-RHOS-7.0.repo

# /etc/my.cnf was owned by  mariadb-libs before
# but now is owned by mariadb-config.
# Upgrading them seperately avoids a collision and
# failure
- name: preinstall Kerberized maridb libs
  yum: name={{ item }} state=latest
  with_items:
      - mariadb-libs

- name: preinstall Kerberized maridb
  yum: name={{ item }} state=latest
  with_items:
      - mariadb-galera-server
      - mariadb-config
      - mariadb
      - mariadb-errmsg
      - mariadb-common

- include: ipa-pre-packstack.yml
- include: packstack.yml
- include: serviceauth.yml
- include: haproxy.yml
- include: haproxy-fixups.yml
- include: infopipe.yml
- include: keystone.yml
- include: horizon.yml
- include: ipa-post-packstack.yml
- include: mysql.yml
# - include: firewall.yml
- meta: flush_handlers
- include: keystone-environment.yml
- include: keystone-sssd.yml
- include: keystone-ipsilon.yml
- include: mariadb-kerberos.yml
#- include: barbican.yml
#- include: test-encrypted-volumes.yml
- include: proton.yml

- name: install accrc files
  sudo: no
  template: src={{ item }}.j2
            dest=~/{{ item }}
  with_items:
    - adminrc
    - demorc
    - kerb-accrc
    - fed-accrc



- name: get local copies of rc files
  sudo: no
  local_action: template src={{ item }}.j2
                      dest={{ deployment_dir  }}/{{ item }}
  with_items:
    - adminrc
    - demorc
    - kerb-accrc
    - fed-accrc
